[submodule "config/xmonad"]
	path = config/xmonad
	url = https://github.com/Kariiem/myXMonadConfig
[submodule ".config/xmonad"]
	path = .config/xmonad
	url = https://github.com/Kariiem/myXMonadConfig
